body { font-family: Arial; background: #edf2f7; }
.chat-container { width: 350px; margin: 50px auto; background: white; padding: 20px; border-radius: 12px; box-shadow: 0 0 10px #bbb; }
#chatbox { height: 350px; overflow-y: auto; border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; }
.user { text-align: right; color: #0b7dda; }
.bot { text-align: left; color: #333; }
input { width: 85%; padding: 10px; }
/* button { padding: 15px;px;  background: #8e0bda; color: white; border: none; cursor: pointer;display: block;margin: 5px auto; } */
/* body {
    font-family: Arial;
    background: #f4f6f9;
}

#chat-container {
    width: 400px;
    margin: 40px auto;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

#chatbox {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.user, .bot {
    max-width: 70%;
    padding: 10px;
    margin: 8px;
    border-radius: 15px;
    animation: fadeIn 0.3s ease-in;
}

.user {
    background: #007bff;
    color: white;
    margin-left: auto;
    text-align: right;
}

.bot {
    background: #e4e6eb;
    color: black;
    margin-right: auto;
}


#input-area {
    display: flex;
    border-top: 1px solid #ddd;
}

#userInput {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */
.btn-grad {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
  }
  
  .btn-grad {
    margin: 5px auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
  }
  
  .btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  .header {
    display: flex;
    align-items: center;   
    gap: 10px;             
    justify-content: center; 
}

.header img {
    width: 60px;   /* adjust size */
    height: 60px;
}